.signup-form{
	
	margin-left:200px;
	
	
}
.form-group2{
	margin-top : 30px;
	
	
}
.accordion-flush{
	
	
	margin-top : 50px;
	
}
h4{
	
	  text-align : center;
	
}
.form-button2{
	
	margin-left:35px;
}
.card{
	
margin-top : 10px;	
	
	
}